* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1f0206;
  -webkit-transition: .30s;
  transition: .30s;
  font-family: r-r;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1f0206;
  border-radius: 20px;
  border: 3px solid orange;
}

@font-face {
  font-family: r-l;
  src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: r-r;
  src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: r-m;
  src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
  font-family: r-b;
  src: url(../fonts/Rubik-SemiBold.ttf);
}

.parallax {
  background: #fba62e;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax img {
  top: 0;
  left: 0;
  position: absolute;
  width: 120%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: -30px;
}

.parallax-item-2 {
  position: fixed;
  z-index: 1;
  margin-top: -210px;
  width: 100%;
}

.parallax-item-3, .parallax-item-4, .parallax-item-5 {
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.button-control .btn-unvalid {
  font-family: r-m;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 150px;
  height: 48px;
  color: #fff;
  background: transparent;
  border-radius: 8px;
  border: 3px solid #fff;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(520%);
          transform: translateY(520%);
  cursor: pointer;
}

.button-control .btn-unvalid:hover {
  background: #fff;
  color: #1f0206;
}

.height {
  width: 100%;
  height: 1000px;
}
/*# sourceMappingURL=style.css.map */