.parallax{
    background: #fba62e;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
   
    img{
        top: 0;
        left: 0;
        position: absolute;
        width: 120%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        margin-left: -30px;
    }
}

.parallax-item-2{
    position: fixed;
    z-index: 1;
    margin-top: -210px;
    width: 100%;
}
.parallax-item-3,.parallax-item-4, .parallax-item-5{
    z-index: 2;
    object-fit: cover;
}

.button-control{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .btn-unvalid{
        font-family: r-m;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        width: 150px;
        height: 48px;
        color: #fff;
        background: transparent;
        border-radius: 8px;
        border: 3px solid #fff;

        opacity: 0;
        transition: 1s;
        transform: translateY(520%);
        cursor: pointer;
        &:hover{
            background: #fff;
            color: #1f0206;
        }
    }
}

.height{
    width: 100%;
    height: 1000px;
}

