*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
}
body{
    background: #1f0206;
    transition: .30s;
    font-family: r-r;
    &::-webkit-scrollbar {
        width: 4px; 
      }
      &::-webkit-scrollbar-thumb {
        background-color: #1f0206;
        border-radius: 20px;   
        border: 3px solid orange; 
      }
}

@font-face {
    font-family: r-l;
    src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: r-r;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: r-m;
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: r-b;
    src: url(../fonts/Rubik-SemiBold.ttf);
}